html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

header {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1552664688-cf412ec27db2?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: top left;
}

h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

header p {
    background: #000;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
}

.scrollContainer {
    width: 100vw;
    min-height: 60vh;
    overflow: hidden;
    transition: background-image 2s;
}

.scrollText {
    margin: 50vh auto;
    max-width: 50rem;
    padding: 1rem;
    background: rgba(32, 32, 32, 0.8);
    color: #fff;
}
#changingBg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 50vh;
}
#introduction {
    background-image: url("https://images.unsplash.com/photo-1516321497487-e288fb19713f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
 /*Sett textSection og imgSection side om side*/


.textSection {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center
}

img {
    max-width: 150%;
    max-height:150%;
  }

.alignRight {
    float: right;
    margin: 0 0 1rem 1rem;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-top: 50px;
    box-sizing: border-box;
}
.redBg {
    background: #b61010;
    color: #fff;
}
.greenBg {
    background: #588002;
    color: #fff;
}
.big {
    text-align: center;
    font-size: 4rem;
    display: block;
    clear: both;
}
.small {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    display: block;
}